.formContainer {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--primary-white);
}
*{font-family: 'Bai Jamjuree', sans-serif;}

.form-control {
    margin-bottom: 15px;
    width: 100%;
}
.form-label{
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-blue) !important;
    border: var(--primary-blue) !important;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}

.btn-primary:hover {
    background-color: #187be4 !important;
}

.formContainer a {
    color: #007bff;
    text-decoration: none;
}

.formContainer a:hover {
    text-decoration: underline;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: vertical; 
}

.textU{
    width: 100%;
    padding: 8px;
    height: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: vertical; 
}
