  
  
*{font-family: 'Bai Jamjuree', sans-serif;}

.Cstm_h1{
    color: var(--primary-blue);
  }

  /* about section */
  .about_wrapper {
    background-color: var(--primary-white);
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px; 
  }


  .about_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .laptop{
    height: 400px;
  }
  .text{
    width: 70%;
  }
  @media only screen and (max-width: 1200px) {
    .laptop{
      height: 350px;
    }
    .text{
      width: 80%;
    }

}

@media only screen and (max-width: 1050px) {
 
  .about_wrapper {
 
    grid-template-columns: 1fr; 
    height: 1100px;
    
    gap: 0px;
    
  }
}
 
  @media only screen and (max-width: 800px) {
 
    .about_wrapper {
   
      grid-template-columns: 1fr; 
      height: 1000px;
      
      gap: 0px;
      
    }
  
}

@media only screen and (max-width: 500px) {
 
  .about_wrapper {
 
    grid-template-columns: 1fr; 
    height: 880px;
    gap: 0px;
  
    
  }

}

    /* about section */

  .services_container{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services_wrapper{
    padding-top: 50px;
    background-color: var(--secondary-white);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .services_card{
    width: 300px;
  }
  
 
  .uni_wrapper{
    background-color: var(--secondary-white);
    height: 325px;
   
   
  }
  .uni_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  .uni_wrapper img{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  
  @media only screen and (max-width: 768px) {



    .uni_flex img{
      width: 70px;
      height: 70px;
    }
    .uni_wrapper{
      height: 260px;
     
   
     
    }
}
  .review_wrapper{
    background-color: var(--primary-white);
    height: fit-content;
    padding: 30px;
  }


  .swiper {
    width: 100%;
    height: 400px;
    background-color: var(--primary-white);
  }



.swiperGrid {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
}

.swiperImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;

}

.carouselImg {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 45%;
}

.carousel_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  flex: 1; 
  height: 300px;

}

.carousel_text a {
  text-decoration: none;
  color: black;
  width: 100%;

}

.swiper-button-next,
.swiper-button-prev
{
    color: black !important;
}
.swiper-pagination-bullet{
background:black !important ;
}

@media only screen and (max-width: 1250px) {

 

  .carouselImg {
   height: 250px;
   width: 250px;
   left: 35%;
  }
  .carousel_text{
    font-size: 15px;
    height: 230px;
    width: 300px;

  }

  .swiper {
    height: 350px;
  }

}
@media (max-width: 900px) {


  .carousel_text{
    font-size: 12px;
    height: 150px;

  }

  .carouselImg {
    height: 200px;
    width: 200px;
   
  }
 
 
  
  
}

@media (max-width: 692px) {


  .carousel_text{
   width: 250px;
    

  }

  .carouselImg {
    height: 150px;
    width: 150px;
   
  }
 
 
  .swiper {
    height: 270px;
  }
  
}

@media (max-width: 585px) {


  .carousel_text{
   width: 160px;
   height: 120px !important;
    font-size: 10px;
    margin-left: -15px ;
  }

  .carouselImg {
    height: 120px;
    width: 120px;
    left: 25%;
   
  } 
 
 
  .swiper {
    height: 250px;
  }
  .carousel_text h2{
    font-size: 15px;
   }
.swiper-button-next,
.swiper-button-prev {
       width: 12px !important;
   }

   .swiper-button-next::after,
.swiper-button-prev::after {
       font-size: 28px !important;
   }
 
}