  
  
*{font-family: 'Bai Jamjuree', sans-serif;}

.feature a{
  color: var(--primary-blue) !important;
}

.primary{
  color: var(--primary-blue);
}

.Cstm_h1{
    color: var(--primary-blue);
  }
  .btn-primary {
    background-color: var(--primary-blue) !important;
    border: var(--primary-blue) !important;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;

}
.laptop{
  max-height:400px;
}

.btn-primary:hover {
    background-color: #187be4 !important;
}

  /* about section */
  .about_wrapper {
    background-color: var(--primary-white);
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 50px; 
  }


  .about_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

 
  .text{
    width: 70%;
    font-size: 16px;
  }
  @media only screen and (max-width: 1200px) {
    
    .text{
      width: 80%;
    }

}

@media only screen and (max-width: 1050px) {
 
  .about_wrapper {
 
    grid-template-columns: 1fr; 
    height: 1100px;
    
    gap: 0px;
    
  }
}
 
  @media only screen and (max-width: 800px) {
 
    .about_wrapper {
   
      grid-template-columns: 1fr; 
      height: 1000px;
      
      gap: 0px;
      
    }
  
}

@media only screen and (max-width: 500px) {
 
  .about_wrapper {
 
    grid-template-columns: 1fr; 
    height: 880px;
    gap: 0px;
  
    
  }

}

    /* about section */

  .services_container{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services_wrapper{
    padding-top: 50px;
    background-color: var(--secondary-white);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .services_card{
    width: 300px;
  }
  
 
  .uni_wrapper{
    background-color: var(--secondary-white);
    height: 325px;
   
   
  }
  .uni_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  .uni_wrapper img{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  
  @media only screen and (max-width: 768px) {



    .uni_flex img{
      width: 70px;
      height: 70px;
    }
    .uni_wrapper{
      height: 260px;
     
   
     
    }
}
  .review_wrapper{
    background-color: var(--primary-white);
    height: fit-content;
    padding: 30px;
  }


  .swiper {
    width: 100%;
    height: 400px;
    background-color: var(--primary-white);
  }



.swiperGrid {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
}

.swiperImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;

}

.carouselImg {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 45%;
}

.carousel_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
  flex: 1; 
  height: 300px;

}

.carousel_text a {
  text-decoration: none;
  color: black;
  width: 100%;

}

.swiper-button-next,
.swiper-button-prev
{
    color: black !important;
}
.swiper-pagination-bullet{
background:black !important ;
}

@media only screen and (max-width: 1250px) {

 

  .carouselImg {
   height: 250px;
   width: 250px;
   left: 35%;
  }
  .carousel_text{
    font-size: 15px;
    height: 230px;
    width: 300px;

  }

  .swiper {
    height: 350px;
  }

}
@media (max-width: 900px) {


  .carousel_text{
    font-size: 12px;
    height: 150px;

  }

  .carouselImg {
    height: 200px;
    width: 200px;
   
  }
 
 
  
  
}

@media (max-width: 692px) {


  .carousel_text{
   width: 250px;
    

  }

  .carouselImg {
    height: 150px;
    width: 150px;
   
  }
 
 
  .swiper {
    height: 270px;
  }
  
}

@media (max-width: 585px) {


  .carousel_text{
   width: 160px;
   height: 120px !important;
    font-size: 10px;
    margin-left: -15px ;
  }

  .carouselImg {
    height: 120px;
    width: 120px;
    left: 25%;
   
  } 
 
 
  .swiper {
    height: 250px;
  }
  .carousel_text h2{
    font-size: 15px;
   }
.swiper-button-next,
.swiper-button-prev {
       width: 12px !important;
   }

   .swiper-button-next::after,
.swiper-button-prev::after {
       font-size: 28px !important;
   }
 
}


      /* Custom styles for the calendar */
      .formContainer {
        max-width: 1000px !important;
        max-height: 100dvh;
        margin: 50px auto 50px auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        padding: 40px;
        border-radius: 8px;
        background-color: var(--primary-white);
    }
            #calendar {
                margin: 0 auto;
               
            }
      
            .fc-day-header {
                background-color: #007bff;
                color: black;
                font-weight: 700;
            }
    
            .fc-event {
                background-color: var(--primary-blue);
                border: none;
            }
    
            .fc-event-title {
                color: #fff;
            }
            .fc .fc-col-header-cell-cushion {
      display: inline-block;
      padding: 2px 4px;
      color: black;
      font-weight: 700;
      text-decoration: none;
    }
    .fc .fc-daygrid-day-number {
      padding: 4px;
      position: relative;
      z-index: 4;
      color: black;
      text-decoration: none;
      font-weight: 700;
    }
    .fc .fc-toolbar-title {
    
      margin: 0px;
      font-weight: 700;
      padding: 15px;
    }
    .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      background-color: var(--primary-blue);
      border: none;
      
    }
    .fc-button:focus,
    .fc-button:active,
    .fc-button:hover {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
    .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      margin-left: -1px;
      background-color: var(--primary-blue);
      border: none;
    }
    .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child):hover {
        background-color: #187be4;
    
    }
    .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child):hover {
    background-color: #187be4;
    }
    /* New styles for smaller screens */
    @media (max-width: 760px) {
        .fc-header-toolbar {
        
        gap: 15px;
        margin-top: -20px;
    }
    .fc .fc-toolbar-title{
        font-size: 14px;
    }
    
        #calendar .fc-button {
            font-size: 12px; /* Adjust the font size as needed */
            padding: 5px 10px; /* Adjust the padding as needed */
        }
    
        .fc .fc-daygrid-day-number {
      font-size: 10px;
    }
    }
    /* New styles for smaller screens */
    @media (max-width: 580px) {
    
        .fc .fc-toolbar-title{
        font-size: 12px;
    }
    
        #calendar .fc-button {
            font-size: 8px; /* Adjust the font size as needed */
            padding: 2px 2px; /* Adjust the padding as needed */
        }
        .fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title{
            font-size: 10px;
        }
       
    }