
:root {
    --primary-blue: #033268;
    --secondary-blue: #000020;
    --primary-white: #fefefe; 
    --secondary-white: #F8F9FA;
    --accent-color: #800e13;
    --text-color: #000;
    --main-font: 'Bai Jamjuree';
    ;
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
  }
  body{
    background-color: var(--primary-white);
  }

  
 






